{% extends 'layouts/practitioner_base.html' %}

{% block dashboard_content %}
    <div class="row">
    <div class="col-md-8">
      <div class="card shadow-sm mb-4">
        <div class="card-header">
          Today's Appointments
        </div>
        <div class="card-body">
          <h5 class="card-title">You have 3 appointments today.</h5>
          <p class="card-text">Your next appointment is with **Demo Patient** at 11:00 AM.</p>
          <a href="#" class="btn btn-success">View Full Schedule</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-header">
          Pending Approvals
        </div>
        <div class="card-body">
           <h5 class="card-title">2 New Requests</h5>
           <p class="card-text">You have 2 new therapy requests to review.</p>
           <a href="#" class="btn btn-outline-success">Review Requests</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}